<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% else site.title %}
      <h1>{{ site.title }}</h1>
      {% endif %}

      {{ content }}

    <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
      此页面由 <a href="https://pages.github.com">GitHub Pages</a> 生成，使用的模板基于 <a href="https://github.com/pages-themes/primer">Primer</a>。
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <!-- 回顶部按钮 -->
    <button id="back-to-top" onclick="scrollToTop()" title="Back to top">&#8679;</button>
    <script>
    // 当用户滚动时，显示/隐藏按钮
    window.onscroll = function() {
      toggleBackToTopButton();
    };

    function toggleBackToTopButton() {
      var button = document.getElementById("back-to-top");
      if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
        button.style.display = "block";
      } else {
        button.style.display = "none";
      }
    }

    // 平滑滚动到顶部
    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    </script>
    {% if page.mathjax %}
      <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
      <script>
        // 选择所有指定类名的 <span> 元素
        const spanElements = document.querySelectorAll('span.math.display');
        
        // 遍历每个选中的 <span> 元素
        spanElements.forEach((span) => {
            span.style.display = 'inline-block'; // 必须设置为 block 或 inline-block 才能控制宽度和溢出
            span.style.width = '100%';         
            span.style.overflowX = 'auto';
            span.style.overflowY = 'hidden';
            span.addEventListener('click', () => {
                // 将水平滚动位置重置为 0
                span.scrollLeft = 0;
                span.scrollTop = 0;
            });
        });
      </script>
    {% endif %}
  </body>
</html>